<h1><%= @list.name %></h1>

  <ul>
    <% @list.movies.each do |movie| %>
    <li><%= movie.title %></li>
    <li><%= movie.overview %></li>
    <li><%= movie.rating %></li>
    <li><%= comment %></li>
    <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
  <% end %>
  </ul>
<%= link_to "Back to list", lists_path(@list) %>
